.container {
  display: flex;
  height: 100vh;
  background-color: var(--color-primary);
  transition: opacity 0.3s ease-out;
  position: relative;
}

.image {
  height: 100vh;
  width: 50%;
  object-fit: cover;
  object-position: right;
}

.motto {
  position: absolute;
  bottom: 60%;
  right: clamp(20%, 25%, 35%);
  font-family: var(--font-headings);
  font-size: calc(1.5rem + 1vw);
  letter-spacing: 0.05rem;
  color: var(--color-secondary);
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 1);
  white-space: nowrap;
}

@media (max-width: 1500px) {
  .motto {
    right: clamp(15%, 20%, 30%);
  }
}

@media (max-width: 1024px) {
  .motto {
    right: clamp(5%, 10%, 15%);
  }
}

@media (max-width: 430px) {
  .motto {
    right: clamp(1%, 3%, 8%);
  }

  .image {
    height: 100vh;
    width: 70%;
    object-fit: cover;
    object-position: right;
  }

  .motto {
    white-space: normal;
    max-width: 60%;
    text-align: right;
  }
}
