.container {
  display: flex;
  height: 100vh;
  background-color: var(--color-primary);
}

.imageSection {
  flex: 1;
  background: url("../assets/landingPage.png");
  background-size: cover;
  background-position: left center;
  position: relative;
}

.colorSection {
  flex: 1;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-items: center;
  justify-content: center; */
}

.motto {
  position: absolute;
  bottom: 55%;
  /* left: 43%; */
  right: 50%;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.link {
  font-size: 1.2rem;
  color: #8b4513;
  text-decoration: none;
  position: absolute;
  bottom: 45%;
  right: 50%;
}

.link:hover {
  text-decoration: underline;
}
