.container {
  display: flex;
  height: 100vh;
  background-color: var(--color-primary);
}

.imageSection {
  flex: 1;
  background: url("../assets/landingPage.png");
  background-size: cover;
  background-position: left center;
  position: relative;
}

.colorSection {
  flex: 1;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
}

.motto {
  position: absolute;
  bottom: 55%;
  font-family: var(--font-headings);
  font-size: 2rem;
  letter-spacing: 0.05rem;
  right: 50%;
  color: var(--color-secondary);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.link {
  font-family: var(--font-headings);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  color: var(--color-secondary);

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  position: absolute;
  bottom: 38%;
  right: 50%;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.link:hover {
  color: var(--color-accent1);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: scale(1.05);
}
