.container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding-top: 4rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
}

.catalogWrapper {
  background-color: var(--color-secondary);
  padding: 4rem 1rem 1rem 1rem;
}

.logInBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-accent1);
  color: var(--color-primary);
  transition: transform 0.3s ease;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.logInBtn:hover {
  transform: scale(1.05);
}
