.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 8rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
}
